# dependencies
node_modules/

# environment variables
.env

# logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# build folders
dist/
build/

# frontend build
frontend/build/

# backend build
backend/dist/

# saving project progress and context
GEMINI.md
PROJECT_CONTEXT.md


# IDE
.vscode/
.idea/